.children {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.child {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
}

.child ul {
  list-style: none;
  padding-left: 0;
}

.child li {
  cursor: pointer;
}

.chore-completed-true span {
  color: green;
  text-decoration: line-through;
}

.child em {
  margin-left: 10px;
}

.chore li {
  flex: 1;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
}

.chore ul {
  list-style: none;
  padding-left: 0;
}

.unassigned_chores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
